body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px; 
    margin: 0;
}
.Video{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
.container{ 
    background-color: white;
    position: relative;
    z-index: 1;
    border:10px gold double;
    margin: 20px auto; 
    text-align: center; 
    max-width: 550px;
}
a{ 
    text-decoration: none;
}
h1{
    font-size: 3em; 
    margin-bottom: 8px;
}
h2{
    font-size: 
    1.5em; margin: 8px 0 16px; 
    color: #191919; 
    font-weight: 400;
}
header img{ 
    padding-top: 3px;
    width: 150px; 
    border-radius: 50%;
    
}
header hr{ 
    width: 60px; height: 3px;; 
    background: gold;}
section{ 
    padding: 2%;
}
.links{ 
    display: flex; 
    flex-direction: column;
}
.links a {
    background-color: black; 
    margin: 6px 0; 
    padding: 16px 32px; 
    color: white; 
    line-height: 1.4;
}
.links a:hover {
    background-color: gold;
}
.links a:focus {
    background-color: gold;
}
.icone-social {
    margin: 0 8px;
}
.icone-social img{
    width: 24px;
}
footer a{
    color: #db0624;
}